fieldset {
    border-color: white;
    background-color: lightgrey;
    width: 20cm;
}
h1 {
    font-style: normal;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}
.button {
    background-color: orange;
    color: white;
    width: 3cm;
    height: 1cm;
}
